.bar {
    background: rgb(135, 189, 214);
    text-decoration: none;
}

.bar ul {
    
    padding: 0;
    margin-top: 0;
    height: 3rem;
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    
  }

  .routes:first-child{
      margin-left: .5rem;
  }
.routes * {
    font-size: large;
      text-decoration: none;
      color: rgb(69, 69, 192);
  }
  .routes *:hover{
      background-color: rgb(166, 196, 216);
  }

  
  

  

  
 
  
